name: Pytest CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.5"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade  pip
          pip install -r requirements.txt
          pip install pytest-playwright

      - name: Install Playwright browsers
        run: playwright install

      - name: Run pytest
        run: pytest
